body {
  background-color: #edf4f1;
  color: #090909;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow to body */
}

h1 {
  padding-top: 1rem;
  color: #2f4841;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow to h1 */
}

legend {
  padding-top: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow to legend */
}

th,
td {
  color: #4d4d4d;
}

.side-bar {
  background-color: #114e3b;
  min-width: 200px;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1); /* Add shadow to side-bar */
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #d6faff;
  padding-bottom: 1em;
}

.btn:not(:disabled):not(.disabled) {
  background-color: #7aa591;
  color: black;
  border: none;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow to button */
}

.btn:hover {
  background-color: #c5e4fa; /* Adjust hover color */
}
